{% extends "fitness_mobile_base.html" %}

{% block content %}


<!--<a href="index.html" data-role="button" data-icon="fa-arrow-left" class="ui-link ui-btn ui-btn-c ui-icon-check ui-btn-icon-left ui-shadow ui-corner-all">Back</a>-->

<h2>Rygg</h2>
<form action="#" method="get">
	<div data-role="fieldcontain">
		<label for="name">Markløft (5x5):</label>
		<input type="text" name="name" id="name" value=""  />
		<h5>Siste tre resultater: 60, 70, 75</h5>
	</div>
	<div data-role="fieldcontain">
		<label for="name">Chins (2x10):</label>
		<input type="text" name="name" id="name" value=""  />
		<h5>Siste tre resultater: 10, 10, 10</h5>
		<h5>Notat fra sist: Lilla strikk</h5>
	</div>
	<div data-role="fieldcontain">
		<label for="name">Foroverbøyd roing (3x10):</label>
		<input type="text" name="name" id="name" value=""  />
		<h5>Siste tre resultater: 50, 55, 55</h5>
	</div>
	<div data-role="fieldcontain">
		<label for="name">Stangcurls (5x10):</label>
		<input type="text" name="name" id="name" value=""  />
		<h5>Siste tre resultater: 25, 25, 27.5</h5>
	</div>
	<button type="submit" data-theme="a" class=" ui-btn ui-btn-a ui-shadow ui-corner-all">Lagre</button>
</form>

	
	
		

{% endblock %}