{% extends "base.html" %}

{% block title %} About {% endblock %}
{% block active_about %} active {% endblock %}

{% block content %}
		<div class="row">
			<div class="span12">
				<div class="page-header"><h1> About </h1></div>
			</div>
		</div>

		<div class="row">
			<div class="span8">
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec eros sem. Donec eu laoreet risus, id eleifend nulla. Aliquam euismod orci aliquet nisl ultrices dignissim. Integer lacinia, ipsum sed gravida tristique, mauris quam tincidunt augue, vitae consequat nibh nulla vel diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In sollicitudin volutpat risus, a volutpat lectus tincidunt vel. Pellentesque vel mattis leo. Sed non posuere dui, quis malesuada tortor. Suspendisse pellentesque enim ac orci eleifend commodo. Etiam sit amet enim vestibulum purus varius commodo. Nulla dictum odio eu massa semper malesuada. Nullam non libero dapibus, feugiat libero eu, suscipit enim. Curabitur luctus sapien dui, ac porttitor lectus porta vel. Nullam magna lorem, elementum non rutrum condimentum, rutrum at metus. Praesent ipsum velit, viverra at nulla viverra, viverra molestie augue. Sed pretium quam quis mi consequat consectetur. </p>
				
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec eros sem. Donec eu laoreet risus, id eleifend nulla. Aliquam euismod orci aliquet nisl ultrices dignissim. Integer lacinia, ipsum sed gravida tristique, mauris quam tincidunt augue, vitae consequat nibh nulla vel diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In sollicitudin volutpat risus, a volutpat lectus tincidunt vel. Pellentesque vel mattis leo. Sed non posuere dui, quis malesuada tortor. Suspendisse pellentesque enim ac orci eleifend commodo. Etiam sit amet enim vestibulum purus varius commodo. Nulla dictum odio eu massa semper malesuada. Nullam non libero dapibus, feugiat libero eu, suscipit enim. Curabitur luctus sapien dui, ac porttitor lectus porta vel. Nullam magna lorem, elementum non rutrum condimentum, rutrum at metus. Praesent ipsum velit, viverra at nulla viverra, viverra molestie augue. Sed pretium quam quis mi consequat consectetur. </p>
			</div>
			<div class="span4">
				<img src="/static/img/andreasCV.jpg" width=242>
			</div>
		</div>

		

{% endblock %}
