{% extends "transfers_base.html" %}
{% block content %}

<div class="row">
	<div class="col-md-11" style="padding-left: 40px;">
		<!-- <iframe height="470" width="80%" frameBorder="0" align="center" style="position: relative; top: -65px;" src="http://sumo.tv2.no/direkte-tv/sportskanalen/tv-2-sportskanalen-115210.html">your browser does not support IFRAMEs</iframe> -->
		<iframe height="100%" width="100%" frameBorder="0" align="center" style="position: relative; top: -65px;" src="http://sumo.tv2.no/direkte-tv/sportskanalen/tv-2-sportskanalen-115210.html">your browser does not support IFRAMEs</iframe>

	</div>
</div>

{% endblock %}