{% extends "transfers_base.html" %}
{% block content %}
<div class="row" style="padding-top: 20px;">
	<div class="col-md-4" style="padding-left: 40px;">
		
		<p class="lead">Daily ITK thread</p>
		<div id="posts">
			{% for post in posts %}
			<article id="{{post.id}}">
				<a href="{{post.poster_url}}">{{ post.poster }}</a> <small class="pull-right">{{post.created_date|date:"H:i, d M Y"}}</small> <br><br>

				{% if post.context_post %}

				<div class="panel panel-default">
					<div class="panel-heading">{{post.context_poster}} said:  <a href="{{post.context_url}}">↑</a></div>
					<div class="panel-body">
						{{ post.context_post|safe }}
					</div>
				</div>
				
				{% endif %}

				{{ post.post_content|safe }}

				<hr>

				<table class="ratings">
					{% for rating in post.sc_rating_set.all %}
					<tr id="{{ rating.rating_type }}">
						<td>{{ rating.rating_type }} :</td>
						<td>{{ rating.number_of }}</td>
					</tr>
					{% endfor %}
				</table>
			</article>
			{% endfor %}
		</div>

	</div>
	<!-- ZOOOOMG TEST-->
	<div class="col-md-4">
		<p class="lead">ITK</p>
		<div id="ro">
			{% for ro_post in ro_posts %}
			<article id={{ro_post.id}}>
				<h5>{{ro_post.title}}</h5>
				{{ ro_post.content|safe }}
			</article>
			{% endfor %}
		</div>
	</div>
	<!-- END END NED -->
	<div class="col-md-3">
		<p class="lead">Twitter</p>
		{% include 'twitter-feed.html' %}
	</div>

</div>

{% include 'get_posts.html' %}
{% include 'get_ro_posts.html' %}


{% endblock %}