<div class="twitter-feed">
<a class="twitter-timeline" height="100%" href="https://twitter.com/andreasroyrvik0/lists/transfers" data-widget-id="494887251940106240">Tweets from https://twitter.com/andreasroyrvik0/lists/transfers</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>